ConnectionStrings__DefaultConnection=Host=newserverpg.postgres.database.azure.com;Port=5432;Database=postgres;Username=elioadmin;Password=YOUR_PASSWORD_HERE;Ssl Mode=Require;Trust Server Certificate=true
Database__RunMigrationsOnStartup=true
Jwt__Key=CHANGE_ME_TO_A_RANDOM_LOCAL_SECRET_AT_LEAST_32_CHARS
Jwt__Issuer=MyAzureDemo
Jwt__Audience=MyAzureDemo
Jwt__ExpirationMinutes=60
